/* Body Background Color */
body {
  -webkit-animation: colorchange 60s infinite;
  animation: colorchange 60s infinite; 
}

@-webkit-keyframes colorchange {
  0% {background: #36FF56;}
  25% {background: #25DDE8;}
  50% {background: #D8E825;}
  75% {background: #293FFF;}
  100% {background: #FFCC52;}
} 

@keyframes colorchange {
  0% {background: #36FF56;}
  25% {background: #25DDE8;}
  50% {background: #D8E825;}
  75% {background: #293FFF;}
  100% {background: #FFCC52;}
}

/*Cookie Image*/
img {
  text-align: center;
  height: 25%;
  width: 25%;
  margin-top: 1rem;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

/*Cookie Hover*/
img:hover {
  -webkit-filter: drop-shadow(0px 0px 8px black);
  transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15); /* IE 9 */
  -webkit-transform: scale(1.15, 1.15);
}

/*Score Text*/
.score {
  font-size: 2rem;
  margin-top: -0.5rem;
  font-family: 'Roboto', sans-serif;
}

/*P-tag font-size and font-samily*/
p {
  font-size: 3.5rem;
  font-family: 'Roboto Slab', serif;
}

/*Cookie-div Margin*/
.cookie {
  margin-top: 1.25rem;
}

/*Cookie image margin*/
.cookiepic {
  margin-top: 0.5rem;
}

/*Margin*/
.margin {
  margin-top: 0.5rem;
}

/*Upgrades Text Resize*/
.resize {
  font-size: 2rem;
  margin-top: 0.75rem;
  text-decoration: underline;
}

/*Cookies Per/s Text Resize*/
.resize2 {
  font-size: 1.5rem;
}

/*Buy/Cost/Own Upgrade Text Resize*/
.resize3 {
  font-size: 1.25rem;
}

/*Pointer image*/
.pointer {
 width: 30px;
 height: 40px;
 margin-top: -5px;
}

/*Autoclick button*/
.autoclick {
  height: 60px;
  width: 50px;
}

/*Farm image*/
.farm {
  width: 30px;
  height: 45px;
  margin-top: -1px;
}

/*Italicize text*/
.italic {
  font-style: italic;
}

/*Persecond text margin*/
.persecond {
  margin-top: 2rem;
}

/*Save and Load Buttons width/margin*/
.btn {
  width: 5rem;
  margin-bottom: 0.75rem;
}

/*Horizontal Divider*/
hr {
  height: 30px; 
  /* Set the hr color */
  color: #000000; /* old IE */
  background-color: #000000; /* Modern Browsers */
}

/*Top margin to farm upgrade*/
.topmargin {
  margin-top: 1rem;
}

/*Responsive Design Element*/
@media screen and (max-width: 768px) {
  img {
    width: 12rem;
  }
  p {
    font-size: 3rem;
  }
  .autoclick {
    margin-left: -0.4rem;
  }
  .resize {
    margin-top: -0.25rem;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
  img {
    width: 13rem;
  }
  p {
    font-size: 5rem;
  }
  .resize {
    font-size: 3rem;
  }
  .resize2 {
    font-size: 2.5rem;
  }
  .resize3 {
    font-size: 2rem;
  }
  .score {
    font-size: 3rem;
  }
  .btn {
    width: 8rem;
    height: 3.5rem;
  }
  .farm {
    height: 6rem;
    width: 4rem;
    margin-left: -1rem;
  }
  .pointer {
    height: 5.5rem;
    width: 4rem;
    margin-left: -1rem;
  }
  .autoclick {
    height: 6rem;
    margin-left: 0.35rem;
  }
}


